@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lora: "Lora", serif;
  --font-work: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: white;
  color: #4D97E8;
  font-family: var(--font-work);
}

.font-serif {
  font-family: var(--font-lora);
}

.font-sans {
  font-family: var(--font-work);
}

a {
  text-decoration: none;
}

::selection {
  background: white;
  color:#C8891D;
}
